:root {
  --main-bg: #fff;
  --main-color: #000;
}

body * + * {
  padding-top: 1em;
}
.panel {
  font-size: 1rem;
  padding: 1em;
  border: 1px solid #999;
  border-radius: 0.5em;
  background-color: var(--main-bg);
  color: var(--main-color);
}

.panel > h2 {
  margin-top: 0;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
}

/* for dark container we are re-defining the 
main-bg and main-color value */
.dark {
  margin-top: 2em;
  padding: 1em;
  background-color: #999;
  --main-bg: #333;
  --main-color: #fff;
}

/*  
you’ve defined custom properties twice: first on the root (where --main-color is black), and then on the dark container (where --main-color is white). The custom properties behave as a sort of scoped variable because the values are inherited by descendant elements. Inside the dark container, --main-color is white; elsewhere on the page, it’s black.
 */
