* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box h2 {
  margin-bottom: 10px;
}

.box {
  background: oldlace;
  border: 2px solid grey;
  width: 500px;
  padding: 20px;

  /* margin: 20px; */

  /* magrin=  top right bottom left */
  /* margin: 10px 20px 10px 20px; */

  /* margin top/bottom left/right */
  margin: 10px 20px;
}
