div{
    width: 150px;
    height: 150px;
    display: inline-block;
}

.one{
    background: red;
    transform: translateX(30px);
}
.two{
    background: blue;
    transform: translateY(40px);
}

.three{
    background: green;
    transform: translateY(100px);
}