span[class] {
  color: purple;
}

div[id] {
  background: grey;
}

div[id="header"] {
  color: white;
}
div[id*="co"] {
  color: orange;
}

a[title="Same-link"] {
  color: red;
}
a[href^="http"] {
  background: grey;
}

a[title="shopping"] {
  color: green;
  background: black;
}

a[href$=".in"] {
  font-size: 20px;
  font-family: cursive;
}
