body {
  background: #333;
}

.box {
  position: relative;
  background: white;
  width: 200px;
  height: 200px;

  /* animation-name: animate1;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease; */

  /* animate1 duration fill-mode delay timining-function */
  animation: animate1 5s forwards 1s ease-in-out;
}

@keyframes animate1 {
  from {
    top: 0;
  }
  to {
    width: 600px;
    background-color: red;
    top: 300px;
  }
}
